*{
  color: aliceblue;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
padding: 0;
margin: 0;
font-size: 20px;
}
body{
  background-color: #0F0F1B;
}
.App {
display: flex;
max-width: 1400px;
width: 100%;
flex-direction: column;
align-items: center;
}
.noteList{
  width: 80vw;
  min-height: 100vh;
}
.noteList ul{
  padding: 0;
 margin: 0;
}
.noteList ul li{
  width: 100%;
  padding:10px 0 10px 25px;
  cursor: pointer;
transition: 300ms all;
word-wrap: break-word;
position:relative;
box-sizing:border-box;
}
.noteList ul li button{
  background:red;
  font-size:12px;
  padding:10px 15px;
 
  border:0;
  border-radius:5px;
}
.flex{
  position:absolute;
  right:0;
  top:0px;
  display:flex;
}
.marked{
text-decoration: line-through;
}
.mark{
   background:green;
  font-size:15px;
  padding:10px 15px;  
  border:0;
  border-radius:5px;
margin-right:3px;
}
.noteList ul li:hover{
  background: rgba(1,42,74,1.8) ;
}
.writingArea{
  display: flex;
  flex-direction: column;
  position: relative;
}
.writingArea .inputTitle{
  width: 80vw;
  border: none;
  height: 50px;
  background-color: #171727;
  border-bottom: black 1px solid;
  padding-left: 10px;
  word-wrap: break-word;
border-radius: 5px;
margin-top: 5px;
}

.writingArea .submitButton{
padding: 12px 35px;
text-align: center;
position: absolute;
border-radius: 5px;
background: firebrick;
top:0;
right: 0;
border: none;
cursor: pointer;
margin-top: 5px;

}
/* .writingArea textarea{
min-height: calc(100vh - 50px);
color: rgb(218, 218, 218);
  border: none;
  background: #171727;
  padding-left: 10px;

} */